.navBar {
    background-color: black;
    overflow: hidden;
}

.navBar a:hover {
    color: #FF005C ;
    text-shadow: 2px 2px #13F4EF;
}

.navBar a {
    color:silver;
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 5%;
    padding-left: 5%;
    transition: 1s ease;
    text-align: center;
    text-decoration: none;
}

#meet-the-team:hover:after {
    content: url(meet-the-team.png);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about-this-project:hover:after {
    content: url(about-this-project.png);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

#more-features:hover:after {
    content: url(more-features.png);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: double;
}

#current-globe {
    margin: auto;
    display: block;
    height: auto;
    width: 70%;
    position: relative;
    justify-content: center;
    z-index: -1;  
}

#country-pins {
    text-align: center;
    font-weight: bold;

}
.earth {
    text-align: center;
}
.earth button {
    background-color: black;
    color: lightblue;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5%;
}

#return-home {
    cursor: pointer;
    transition: 0.3s;    
}
  
#return-home:hover {
    transform: scale(1.15);
}
  
#return-home:active {
    transform: scale(1.15);
}

#left-turn{
    transition: all 0.5s;
    cursor: pointer;
}

#left-turn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#left-turn span:after {
    content: '<<';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    left: -40px;
    transition: 0.5s;
  }

  #left-turn:hover span {
    padding-left: 25px;
}

#left-turn:hover span:after {
      opacity: 1;
      right: 0;
}


#right-turn{
    transition: all 0.5s;
    cursor: pointer;
}

#right-turn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#right-turn span:after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  #right-turn:hover span {
    padding-right: 25px;
}

#right-turn:hover span:after {
      opacity: 1;
      right: 0;
}

#pin-canada {
    height: 30px;
    width: auto;
    position: absolute;
    top: 5%;
    left: 48%;
}

#pin-united-states {
    height: 30px;
    width: auto;
    position: absolute;
    top: 11%;
    left: 52%;
}

#pin-brasil {
    height: 30px;
    width: auto;
    position: absolute;
    top: 33%;
    left: 53%;
}

#pin-united-kingdom {
    height: 30px;
    width: auto;
    position: absolute;
    top: 3%;
    left: 48%;
}

#pin-sweden {
    height: 30px;
    width: auto;
    position: absolute;
    top: 3%;
    left: 51%;
}

#pin-europe {
    height: 30px;
    width: auto;
    position: absolute;
    top: 6%;
    left: 48%;
}

#pin-south-africa {
    height: 30px;
    width: auto;
    position: absolute;
    top: 53%;
    left: 49%;
}

#pin-russia {
    height: 30px;
    width: auto;
    position: absolute;
    top: 5%;
    left: 50%;
}

#pin-japan {
    height: 30px;
    width: auto;
    position: absolute;
    top: 13%;
    left: 57%;
}

#pin-hong-kong {
    height: 30px;
    width: auto;
    position: absolute;
    top: 19%;
    left: 53%;
}

#pin-aussie {
    height: 30px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 52%;
}
body {
    background-image: url("../Space-Image8.jpg");
    color: azure;
    
}
.cards{

border: solid;
color:silver;
border-color:silver;
padding: 50px;
margin: 30px;
float: left;
text-align: center;
top: 400px;
left: 700px;
width: 300px;
height: auto;
box-shadow: #13f4ef;
transition: 1s;
}

#form-box{

    border: solid;
    color:silver;
    border-color:silver;
    padding: 50px;
    margin: 30px;
    float: left;
    text-align: center;
    top: 400px;
    left: 700px;
    width: 300px;
    height: auto;
    box-shadow: #13f4ef;
    transition: 1s;
    }
    #minimize{
        position:absolute;
        top: 50px;;
        left: 50px;;
    }