#current-globe {
    margin: auto;
    display: block;
    height: auto;
    width: 50%;
}

.earth button{
    background-color: gold;
    text-align: center;
    font-size: 24px;
    padding: 10px 20px;
    margin: 50px;
}

#pin-canada {
    height: 30px;
    width: auto;
    position: absolute;
    top: 50px;
    left: 635px;
}

#pin-united-states {
    height: 30px;
    width: auto;
}

#pin-brasil {
    height: 30px;
    width: auto;
}

#pin-united-kingdom {
    height: 30px;
    width: auto;
}

#pin-sweden {
    height: 30px;
    width: auto;
}

#pin-europe {
    height: 30px;
    width: auto;
}

#pin-south-africa {
    height: 30px;
    width: auto;
}

#pin-russia {
    height: 30px;
    width: auto;
}

#pin-japan {
    height: 30px;
    width: auto;
}

#pin-hong-kong {
    height: 30px;
    width: auto;
}

#pin-aussie {
    height: 30px;
    width: auto;
}
