.navBar {
    background-color: black;
    overflow: hidden;
}

.navBar a:hover {
    color: #FF005C ;
    text-shadow: 2px 2px #13F4EF;
}

.navBar a {
    color:silver;
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 5%;
    padding-left: 5%;
    transition: 1s ease;
    text-align: center;
    text-decoration: none;
}

#meet-the-team:hover:after {
    content: url(meet-the-team.png);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: double;
    z-index: +2;
}

#about-this-project:hover:after {
    content: url(about-this-project.png);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: double;
    z-index: +2;
}

#more-features:hover:after {
    content: url(more-features.png);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: double;
    z-index: +2;
}

#current-globe {
    margin: auto;
    display: block;
    height: auto;
    width: 70%;
    position: relative;
    justify-content: center;
    z-index: -1;  
}

#country-pins {
    text-align: center;
    font-weight: bold;

}
.earth {
    text-align: center;
}
.earth button {
    background-color: black;
    color: lightblue;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5%;
}

.earth button:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    color: tomato;
    box-shadow:  -1px -1px 3px 3px ;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#return-home {
    cursor: pointer;
    transition: 0.3s;    
}
  
#return-home:hover {
    transform: scale(1.15);
}
  
#return-home:active {
    transform: scale(1.15);
}

#left-turn {
    transition: all 0.5s;
    cursor: pointer;
}

#left-turn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#left-turn span:after {
    content: '<<';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    left: -40px;
    transition: 0.5s;
  }

  #left-turn:hover span {
    padding-left: 25px;
}

#left-turn:hover span:after {
      opacity: 1;
      right: 0;
}


#right-turn {
    transition: all 0.5s;
    cursor: pointer;
}

#right-turn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#right-turn span:after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  #right-turn:hover span {
    padding-right: 25px;
}

#right-turn:hover span:after {
      opacity: 1;
      right: 0;
}

#pin-canada {
    height: 30px;
    width: auto;
    position: absolute;
    top: 9%;
    left: 47%;
}

#pin-united-states {
    height: 30px;
    width: auto;
    position: absolute;
    top: 15%;
    left: 53%;
}

#pin-brasil {
    height: 30px;
    width: auto;
    position: absolute;
    top: 44%;
    left: 56%;
}

#pin-united-kingdom {
    height: 30px;
    width: auto;
    position: absolute;
    top: 9%;
    left: 48%;
}

#pin-sweden {
    height: 30px;
    width: auto;
    position: absolute;
    top: 8%;
    left: 52%;
}

#pin-europe {
    height: 30px;
    width: auto;
    position: absolute;
    top: 11%;
    left: 46%;
}

#pin-south-africa {
    height: 30px;
    width: auto;
    position: absolute;
    top: 63%;
    left: 49%;
}

#pin-russia {
    height: 30px;
    width: auto;
    position: absolute;
    top: 12%;
    left: 48%;
}

#pin-japan {
    height: 30px;
    width: auto;
    position: absolute;
    top: 18%;
    left: 59%;
}

#pin-hong-kong {
    height: 30px;
    width: auto;
    position: absolute;
    top: 25%;
    left: 54%;
}

#pin-aussie {
    height: 30px;
    width: auto;
    position: absolute;
    top: 63%;
    left: 54%;
}
body {
    background-image: url("../Space-Image8.jpg");
    color: azure;
    
}
.cards {
    border: solid;
    color:silver;
    border-color:silver;
    padding: 50px;
    margin: 30px;
    float: left;
    text-align: center;
    top: 400px;
    left: 700px;
    width: 300px;
    height: auto;
    box-shadow: #13F4EF;
    transition: 1s;
}
 .money-image{
        height: 100px;
        width: auto
    }
    #card-text {
        opacity: 100%
    }

    div.cards {
        position: absolute;
        border: none;
        top: 5%;
        bottom: -7%;
        left: 67%;
        width: 25%;
        transition: 1s ease-in;
        padding-top: 2%;
        padding-right: 2%;
        padding-left: 2%;
    }
    div.cards:hover {
            border: 3px;
            color:#68FF00;
            box-shadow: -2px -2px 7px 7px  #FAFF00;
            background-color: rgba(0, 0, 0, 0.5);
    }
#form-box {
    position: absolute;
    border: thinner solid;
    color:silver;
    border-color: black;
    border-radius: 50%;
    padding: 50px;
    margin: 30px;
    float: left;
    text-align: center;
    top: 50px;
    left: 10px;
    width: 200px;
    height: auto;
    transition: 1s;
}

    h1 {
            color: #68FF00;
            font-size: x-large;
            text-shadow: 2px 2px black;
        }
    #form-box:hover {
        border: 3px;
        background-color: rgba(255, 191, 0, 0.5);
        color: tomato;
        text-shadow: 2px 2px black;
        box-shadow: -2px -2px 7px 7px  #FAFF00;
    }

  


   